doctype html
html
  head
    meta(charset="utf-8")
    title Feng
    link(rel="stylesheet" href=assetsHash.main.css)
    block meta
      meta(name="description" content="feng uses new generation web technologies")
  body
    #app
    script(src=assetsHash.main.js)